/* ESTOS SON LOS ESTILOS DE LA VISA DEL ventas*/
#turner{
    height: 80%;
    width: 80%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
    /* Color de fondo del navbar */
    .navbar {
        background-color: #000000 !important;
    }

    /* Color de las letras del navbar */
    .navbar-dark .navbar-nav .nav-link {
        color: #fff !important;
    }

    /* Color de las letras al pasar el ratón por encima */
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #ccc !important;
    }

    /* Color de las letras activas */
    .navbar-dark .navbar-nav .nav-link.active {
        color: #ccc !important;
    }

    /* Color de las letras del botón toggler */
    .navbar-dark .navbar-toggler-icon {
        color: #fff !important;
    }

    /* Fondo del dropdown */
    .navbar-dark .navbar-nav .dropdown-menu {
        background-color: #333 !important;
    }

    /* Color de las letras del dropdown */
    .navbar-dark .navbar-nav .dropdown-item {
        color: #fff !important;
    }

    /* Color de las letras del dropdown al pasar el ratón por encima */
    .navbar-dark .navbar-nav .dropdown-item:hover {
        color: #ccc !important;
    }

    /* Color de las letras activas en el dropdown */
    .navbar-dark .navbar-nav .dropdown-item.active {
        color: #ccc !important;
    }

body{
    background: rgb(239, 221, 221);
}
header{
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 700px;
    background: black;
}
header h1{ 
    text-align: center;
    font-size: 35px;
    background-color: #000;
    color: #fff;
    padding: 30px 0;
}
.codigo{
    font-size: 20px;
}
.usuario{
    font-size: 30px;
}
#volver{
    position: fixed;
    left: 200px;
}
.sticky {
    position: fixed;
    top: 45px;
    left: 1000px;
    width: 100%;
    z-index: 1000; /* Asegura que el buscador esté por encima de otros elementos */
    padding: 10px; /* Espaciado interno para que el contenido no se solape */
    background: rgb(239, 221, 221);
    transition: top 1s ease; /* Animación suave al cambiar la posición */
}
.form-control {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    max-width: 300px; /* Establece el ancho máximo del input */
}
/* Ajusta el espacio superior del contenido principal para evitar que se solape con el buscador fijo */
.content {
    padding-top: 50px; /* Ajusta según sea necesario para evitar superposiciones */
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(228, 223, 168, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #f0a5db53;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgb(239, 221, 221);
}

tr:hover {
    background-color: #f7e6e6;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #ffffff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.fa {
    margin-right: 5px;
}

.fa-trash {
    color: #fff;
}

.fa-info {
    color: #fff;
}
.carrito{
    background: #fff;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS*/
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 60%;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
 /* LOGIN */
.background-image {
    position: fixed;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-image: url('/img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
      }
#login{
    color: #fff;
    font-size: 40px;
}
#correo{
    color: #fff;
    margin: 0px 0px 0px 80px;
    font-weight: bolder;

}
#contraseña{
    color: #f3f3f3;
    margin: 0px 0px 0px 80px;
    font-weight: bolder;

}
#recordarme{
    color: #fff;
    margin: 0 0 0 120px;
    font-weight: bolder;

}
#remember{
    margin: 0 0 0 100px;
}
#boton{
    margin: 0 0 0 120px;
}

 /* REGISTRO */
 .background-image {
    position: fixed;
    top: 10%;
    left: 15%;
    width: 75%;
    height: 80%;
    background-image: url('/img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    }
#registro{
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
}
#nombre{
    color: #fff;
    margin: 0px 0px 0px 182px;
    font-weight: bolder;

}
#correo{
    color: #fff;
    margin: 0px 0px 0px 182px;
    font-weight: bolder;

}
#contraseña{
    color: #f3f3f3;
    margin: 0px 0px 0px 182px;
    font-weight: bolder;

}
#confirmar{
    color: #fff;
    margin: 0 0 0 120px;
    font-weight: bolder;

}
#confirmar{
    margin: 0 0 0 182px;
    font-weight: bolder;

}
#boton{
    margin: 0 0 0 120px;
}

.card {
    background-color: #ecd5e653;
    margin-bottom: 20px;
    max-width: 300px; /* Ajusta el ancho máximo de las tarjetas según sea necesario */
}

.card-body {
    font-size: 16px; /* Ajusta el tamaño de fuente del contenido de la tarjeta */
}

.card-title {
    font-size: 24px; /* Ajusta el tamaño de fuente del título de la tarjeta */
}

.card-text {
    font-size: 16px; /* Ajusta el tamaño de fuente del texto de la tarjeta */
}










 